th, td {
    text-align: center; /* Выравнивание текста */
    border-radius: 5px; /* Округление углов ячеек */
}
th {
    white-space: nowrap;
    background-color: #3a56d4; /* Цвет фона заголовков */
    color: white; /* Цвет текста заголовков */
    border-radius: 5px; /* Округление углов заголовков */
}
tr:hover {
    background-color: #6c757d; /* Изменение фона строки при наведении */
}
.context-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.context-menu-item {
    padding: 8px 12px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.context-menu-item:hover {
    background-color: dodgerblue;
}
.row-closed {
    background-color: dodgerblue;
}
.pagination a {
    margin: 0 15px; /* Увеличение расстояния между элементами пагинации */
    text-decoration: none;
    color: blue;
    font-size: 16px; /* Увеличение размера шрифта пагинации */
}