:root {
    --margin-table: 1rem;
    --margin-row: 0.8rem;
}

body {
    height: 100%;
    font-family: 'Helvetica', sans-serif;
}

header {
    top: 0;
    position: fixed;
    background-color: red;
    height: 4rem;
    min-width: 100%;
    z-index: 100;
    border-radius: 0.2rem;
}

.table {
    margin-top: 4.1rem;
    transition: margin-left 0.3s ease;

    position: relative;
    height: max-content;
    width: max-content;

    border: 0.5px #f1f0f0 solid;
    border-top: none;

    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.table-header {
    position: sticky;
    z-index: 100;
    top: 4rem;
    height: 3rem;
    width: 100%;
    display: grid;
    grid-template-columns: 28.125rem 28.125rem 21.5625rem 15.9375rem 6.25rem 6.25rem 10.625rem 9.6875rem 9.6875rem 9.6875rem 9.6875rem;
    place-items: center;

    /* Что б цвет фона div не выходил за закругленные края */
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;

    & div {
        background-color: #f8f8f8;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;

        border: 0.5px #f1f0f0 solid;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.table-body {
    font-size: 15px;
    position: relative;
    /* overflow только справа */
    clip-path: inset(0 0 0 -100px);

    & .row {
        display: grid;
        margin: 0;
        padding: 0;
        grid-auto-rows: 1.45rem;
        grid-template-columns: 28.125rem 28.125rem 21.5625rem 15.9375rem 6.25rem 6.25rem 10.625rem 9.6875rem 9.6875rem 9.6875rem 9.6875rem;

        &:has(>.inner-cell) {
            padding-left: 0.5rem;
            transition: padding-left 0.1s ease;
        }

        & .img {
            background: none;
            position: absolute;
            padding: 0;
            top: 6px;
            left: -15px;
            width: 0.5%;
            height: 0.5%;
            &.img:hover {
                cursor: pointer;
            }
        }

        & .cell {
            background: linear-gradient(145deg, #ffffff 0%, #f5f5f5 100%);
            color: #333;
            font-family: 'Helvetica', sans-serif;
            box-shadow: 0 3px 20px rgba(0, 0, 0, 0.01);

            display: flex;
            padding: 0;
            border-top: 0.5px #f1f0f0 solid;
            border-bottom: 0.5px #f1f0f0 solid;
        }

        & .inner-cell {
            padding: 0 0 0 var(--margin-row);
            display: flex;

            background: linear-gradient(120deg, #ffffff 0%, #f5f5f5 100%);
        }

        & .position-center {
            align-items: center;
            justify-content: center;
        }
    }
}
