:root {
    --margin-table: 1rem;
    --margin-row: 0.8rem;
    --cell-width: 1rem;
    --hb-widht: 1.25rem;
    --col1-widht: 28.125rem;
    --col2-widht: 28.125rem;
    --col3-widht: 21.5625rem;
    --col4-widht: 15.9375rem;
    --col5-widht: 6.25rem;
    --col6-widht: 6.25rem;
    --col7-widht: 10.625rem;
    --col8-widht: 9.6875rem;
    --col9-widht: 9.6875rem;
    --col10-widht: 9.6875rem;
    --col11-widht: 9.6875rem;
}

body {
    height: 100%;
    font-family: 'Helvetica', sans-serif;
}

header {
    top: 0;
    position: fixed;
    height: 4rem;
    min-width: 100%;
    z-index: 100;
    border-radius: 0.2rem;
}

.table {
    margin-top: 4.1rem;
    background-color: #ffffff;
    width: max-content;
    height: max-content;
}

.table-content {
    position: relative;

    margin-left: var(--margin-table);
    transition: margin-left 0.3s ease;

    border: 0.5px #f1f0f0 solid;
    border-top: none;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.table-header {
    position: sticky;
    z-index: 100;
    top: 4rem;
    height: 3rem;
    width: 100%;
    display: grid;
    grid-template-columns:
          calc(calc(var(--col1-widht) + var(--hb-widht)) + var(--cell-width))
          calc(var(--col2-widht) + var(--cell-width))
          calc(var(--col3-widht) + var(--cell-width))
          calc(var(--col4-widht) + var(--cell-width))
          calc(var(--col5-widht) + var(--cell-width))
          calc(var(--col6-widht) + var(--cell-width))
          calc(var(--col7-widht) + var(--cell-width))
          calc(var(--col8-widht) + var(--cell-width))
          calc(var(--col9-widht) + var(--cell-width))
          calc(var(--col10-widht) + var(--cell-width))
          calc(var(--col11-widht) + var(--cell-width));
    place-items: center;

    /* Что б цвет фона div не выходил за закругленные края */
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;

    & div {
        background-color: #f8f8f8;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;

        border: 0.5px #f1f0f0 solid;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.table-body {
    margin-top: 1rem; /* 1 строка почему то заезжает внутрь хедера */
    font-size: 15px;
    position: relative;
    /* overflow только справа */
    clip-path: inset(0 0 0 -100px);

    & .row {
        display: grid;
        margin: 0;
        padding: 0;
        grid-auto-rows: max-content;
        grid-template-columns:
              var(--hb-widht)
              calc(var(--col1-widht) + var(--cell-width))
              calc(var(--col2-widht) + var(--cell-width))
              calc(var(--col3-widht) + var(--cell-width))
              calc(var(--col4-widht) + var(--cell-width))
              calc(var(--col5-widht) + var(--cell-width))
              calc(var(--col6-widht) + var(--cell-width))
              calc(var(--col7-widht) + var(--cell-width))
              calc(var(--col8-widht) + var(--cell-width))
              calc(var(--col9-widht) + var(--cell-width))
              calc(var(--col10-widht) + var(--cell-width))
              calc(var(--col11-widht) + var(--cell-width));
        grid-auto-columns: max-content;

        & .nested-rows {
            grid-column: 1 / -1;
            background: linear-gradient(145deg, #f9f9f9 0%, #f0f0f0 100%);
            padding: 0 0 0 var(--cell-width); /* хз почему и без явного указания padding по бокам 0.75 rem а так будет по 1rem минимум*/

            & .row {
                display: grid;
                grid-template-columns:
                    var(--hb-widht)
                    calc(var(--col1-widht) + var(--cell-width))
                    calc(var(--col2-widht) + var(--cell-width))
                    calc(var(--col3-widht) + var(--cell-width))
                    calc(var(--col4-widht) + var(--cell-width))
                    calc(var(--col5-widht) + var(--cell-width))
                    calc(var(--col6-widht) + var(--cell-width))
                    calc(var(--col7-widht) + var(--cell-width))
                    calc(var(--col8-widht) + var(--cell-width))
                    calc(var(--col9-widht) + var(--cell-width))
                    calc(var(--col10-widht) + var(--cell-width))
                    calc(var(--col11-widht) + var(--cell-width));
                border-top: 0.5px #e0e0e0 solid;
                background: transparent;
            }
        }

        .cell, .inner-cell {
            background: linear-gradient(145deg, #ffffff 0%, #f5f5f5 100%);
            color: #333;
            display: flex;
            padding: 0.8rem 0;
            align-items: center;
        }

        & .inner-cell {
            background: linear-gradient(120deg, #fdfdfd 0%, #f7f7f7 100%);
        }

        & .position-center {
            align-items: center;
            justify-content: center;
        }
    }
}


.hamburger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0;
}

.hamburger .checkbox {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.line {
    transition: 0.5s;
    stroke-width: 6px;
    stroke: black;
}

.lineTop {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 25;
}

.lineBottom {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 60;
}

.lineMid {
    stroke-dasharray: 40 40;
}

.hamburger .checkbox:checked + svg .line {
    stroke: crimson;
}

.hamburger .checkbox:checked + svg .lineTop {
    stroke-dashoffset: 0;
    transform-origin: left;
    transform: rotateZ(45deg) translate(-7px, -5px);
}

.hamburger .checkbox:checked + svg .lineMid {
    stroke-dashoffset: 40;
}

.hamburger .checkbox:checked + svg .lineBottom {
    stroke-dashoffset: 0;
    transform-origin: left;
    transform: rotateZ(-45deg) translate(-5px, 5px);
}
